.nav__list{
    display: flex;
    align-items: stretch;

    box-sizing: border-box;
    height: var(--header-height);
    margin: 0;
    padding: 0;

    list-style: none;

    color: var(--color-light-gray);
}

.nav__item{
    display: flex;
    align-items: center;

    padding: 0 20px;

    letter-spacing: 1px;
}

.nav__link{
    font-family: var(--font-heading);
    font-size: 13px;
    font-weight: var(--font-weight-main);

    display: flex;
    align-items: center;

    box-sizing: border-box;
    height: 100%;

    transition: background-color .3s ease, color .3s ease;
    transform: scaleX(.95);
    text-decoration: none;
    text-transform: uppercase;

    color: var(--color-light-gray);
}


.nav__item:hover{
    background-color: rgba(255, 255, 255, .1);
}


.nav__item--active{
    background-color: var(--color-primary-orange);
}
